In [2]:
import pandas as pd

# Setting to make numbers easier to read on display
pd.options.display.float_format = '{:20.2f}'.format

# Show all columns on output
pd.set_option('display.max_columns', 999)

## Scenario

The data source team has gives you full extracts of the hotel bookings data in a csv file. The analysis team wants to create reports for the following:

* Bookings with a lead time higher than 50 days, the booking details of interest are the hotel type, arrival date, guests, customer type, cancellation status and lead time.

In [3]:
df = pd.read_csv("./data/hotel_bookings.csv")

df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.00,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.00,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.00,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.00,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.00,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.00,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.00,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0.00,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,0.00,0,FB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,303.00,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.00,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,0.00,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,15.00,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22

In [4]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 93.9 MB

In [5]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.00,119390.00,119390.00,119390.00,119390.00,119390.00,119390.00,119390.00,119386.00,119390.00,119390.00,119390.00,119390.00,119390.00,103050.00,6797.00,119390.00,119390.00,119390.00,119390.00
mean,0.37,104.01,2016.16,27.17,15.80,0.93,2.50,1.86,0.10,0.01,0.03,0.09,0.14,0.22,86.69,189.27,2.32,101.83,0.06,0.57
std,0.48,106.86,0.71,13.61,8.78,1.00,1.91,0.58,0.40,0.10,0.18,0.84,1.50,0.65,110.77,131.66,17.59,50.54,0.25,0.79
min,0.00,0.00,2015.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,6.00,0.00,-6.38,0.00,0.00
25%,0.00,18.00,2016.00,16.00,8.00,0.00,1.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,9.00,62.00,0.00,69.29,0.00,0.00
50%,0.00,69.00,2016.00,28.00,16.00,1.00,2.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,14.00,179.00,0.00,94.58,0.00,0.00
75%,1.00,160.00,2017.00,38.00,23.00,2.00,3.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,229.00,270.00,0.00,126.00,0.00,1.00
max,1.00,737.00,2017.00,53.00,31.00,19.00,50.00,55.00,10.00,10.00,1.00,26.00,72.00,21.00,535.00,543.00,391.00,5400.00,8.00,5.00

In [6]:
df.describe(include=[object])

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
count,119390,119390,119390,118902,119390,119390,119390,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,10,12,3,4,3,926
top,City Hotel,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-10-21
freq,79330,13877,92310,48590,56477,97870,85994,74053,104641,89613,75166,1461

## Technique 1 - Read What You Need

In [7]:
smaller_df = pd.read_csv(
    "./data/hotel_bookings.csv",
    usecols= [
        "hotel",
        "arrival_date_year",
        "arrival_date_month",
        "arrival_date_day_of_month",
        "adults",
        "children",
        "babies",
        "customer_type",
        "is_canceled",
        "lead_time",
    ]
)

smaller_df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,customer_type
0,Resort Hotel,0,342,2015,July,1,2,0.00,0,Transient
1,Resort Hotel,0,737,2015,July,1,2,0.00,0,Transient
2,Resort Hotel,0,7,2015,July,1,1,0.00,0,Transient
3,Resort Hotel,0,13,2015,July,1,1,0.00,0,Transient
4,Resort Hotel,0,14,2015,July,1,2,0.00,0,Transient

In [8]:
smaller_df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   is_canceled                119390 non-null  int64
 2   lead_time                  119390 non-null  int64
 3   arrival_date_year          119390 non-null  int64
 4   arrival_date_month         119390 non-null  object
 5   arrival_date_day_of_month  119390 non-null  int64
 6   adults                     119390 non-null  int64
 7   children                   119386 non-null  float64
 8   babies                     119390 non-null  int64
 9   customer_type              119390 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 26.2 MB

## Technique 2 - Use Efficient Data Types

Numeric data are the easiest to reduce:

| Data Type (bits) | Type       | Maximum Value        | Minimum Value        | Note                 |
|------------------|------------|----------------------|----------------------|----------------------|
| 8-bit            | Integer    | 127                  | -128                 |                      |
| 16-bit           | Integer    | 32,767               | -32,768              |                      |
| 32-bit           | Integer    | 2,147,483,647        | -2,147,483,648       |                      |
| 64-bit           | Integer    | 9,223,372,036,854,775,807 | -9,223,372,036,854,775,808 |               |
| 32-bit           | Floating   | 3.4028235e+38        | -3.4028235e+38       | Precision of ~7 decimal digits |
| 64-bit           | Floating   | 1.7976931348623157e+308 | -1.7976931348623157e+308 | Precision of ~15 decimal digits |

In [15]:
smaller_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   is_canceled                119390 non-null  int64
 2   lead_time                  119390 non-null  int64
 3   arrival_date_year          119390 non-null  int64
 4   arrival_date_month         119390 non-null  object
 5   arrival_date_day_of_month  119390 non-null  int64
 6   adults                     119390 non-null  int64
 7   children                   119390 non-null  float64
 8   babies                     119390 non-null  int64
 9   customer_type              119390 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 26.2 MB

In [16]:
# A more efficient schema for our data
schema = {
    "hotel": "category",
    "is_canceled": "boolean",
    "lead_time": "int16",
    "arrival_date_year": "int16",
    "arrival_date_month": "category",
    "arrival_date_day_of_month": "int8",
    "adults": "int8",
    "children": "int8",
    "babies": "int8",
    "customer_type": "category"
}

In [17]:
smaller_df.fillna(0, inplace=True)

cast_df = smaller_df.astype(schema).copy()

cast_df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,adults,children,babies,customer_type
0,Resort Hotel,False,342,2015,July,1,2,0,0,Transient
1,Resort Hotel,False,737,2015,July,1,2,0,0,Transient
2,Resort Hotel,False,7,2015,July,1,1,0,0,Transient
3,Resort Hotel,False,13,2015,July,1,1,0,0,Transient
4,Resort Hotel,False,14,2015,July,1,2,0,0,Transient
5,Resort Hotel,False,14,2015,July,1,2,0,0,Transient
6,Resort Hotel,False,0,2015,July,1,2,0,0,Transient
7,Resort Hotel,False,9,2015,July,1,2,0,0,Transient
8,Resort Hotel,True,85,2015,July,1,2,0,0,Transient
9,Resort Hotel,True,75,2015,July,1,2,0,0,Transient

In [18]:
cast_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  category
 1   is_canceled                119390 non-null  boolean
 2   lead_time                  119390 non-null  int16
 3   arrival_date_year          119390 non-null  int16
 4   arrival_date_month         119390 non-null  category
 5   arrival_date_day_of_month  119390 non-null  int8
 6   adults                     119390 non-null  int8
 7   children                   119390 non-null  int8
 8   babies                     119390 non-null  int8
 9   customer_type              119390 non-null  category
dtypes: boolean(1), category(3), int16(2), int8(4)
memory usage: 1.5 MB

## Technique 3 - Chunking Your Data

In [19]:
df_chunks = pd.read_csv("./data/hotel_bookings.csv", chunksize=1000)

df_chunks

In [20]:
next(df_chunks)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.00,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,1,122,2015,August,33,9,2,4,2,0,0,HB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,166.00,0,2,Canceled,2015-05-27
996,Resort Hotel,1,41,2015,August,33,9,2,4,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.00,NaN,0,Transient,202.00,0,2,Canceled,2015-07-17
997,Resort Hotel,1,41,2015,August,33,9,2,4,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,172.00,0,2,Canceled,2015-07-17
998,Resort Hotel,0,81,2015,August,33,9,2,4,2,1,1,FB,ESP,Direct,Direct,0,0,0,C,C,0,No Deposit,250.00,NaN,0,Transient,277.00,1,1,Check-Out,2015-08-15
999,Resort Hotel,0,59,2015,August,33,9,2,5,2,0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,243.00,NaN,0,Transient,104.00,0,0,Check-Out,2015-08-16

In [21]:
next(df_chunks)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
1000,Resort Hotel,0,72,2015,August,33,9,2,5,2,0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,149.00,NaN,0,Transient,133.00,0,1,Check-Out,2015-08-16
1001,Resort Hotel,1,68,2015,August,33,9,2,5,2,2,0,BB,PRT,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,240.00,NaN,0,Transient,214.00,0,0,Canceled,2015-06-03
1002,Resort Hotel,0,81,2015,August,33,9,2,5,2,0,0,HB,GBR,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,243.00,NaN,0,Transient,130.00,0,0,Check-Out,2015-08-16
1003,Resort Hotel,1,72,2015,August,33,9,2,5,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240.00,NaN,0,Transient,154.00,0,0,Canceled,2015-06-08
1004,Resort Hotel,0,68,2015,August,33,9,2,5,2,0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,26.00,NaN,0,Transient,106.40,0,0,Check-Out,2015-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Resort Hotel,1,75,2015,September,39,26,1,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,73.35,0,1,Canceled,2015-07-17
1996,Resort Hotel,1,59,2015,September,39,26,1,1,2,0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,208.00,NaN,0,Transient,74.00,0,0,Canceled,2015-08-24
1997,Resort Hotel,1,61,2015,September,39,26,2,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,79.00,0,0,Canceled,2015-08-27
1998,Resort Hotel,1,61,2015,September,39,26,2,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.00,NaN,0,Transient,79.00,0,2,Canceled,2015-08-27
1999,Resort Hotel,1,61,2015,September,39,26,2,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,242.00,NaN,0,Transient,94.00,0,1,Canceled,2015-09-01

In [ ]:
for df in df_chunks:
    process(df)